# Print Statements

In [20]:
print("Hello World")

Hello World

In [21]:
print(50)

50

In [24]:
print(3.4)

3.4

In [22]:
"Hello World"

'Hello World'

In [23]:
50

50

In [25]:
3.4

3.4

In [18]:
"Welcome"
50

50

In [26]:
print("Welcome")
print(50)
print(3.4)

Welcome
50
3.4

In [31]:
print("Hello", end=" ")
print("World", end="")

Hello World

# Comments

**Single Line comment**

In [8]:
# print("Welcome")

**Multiple Line comment**

In [15]:
"""I have started machine
learning course at Amit"""


# I have started machine 
# Learning Course at Amit

print("Amit")

Amit

# Variabels

In [33]:
name = "Ahmed"
age = 24

In [35]:
age += 1
print(age)

26

In [36]:
type(name)

str

In [61]:
#  assign a single value to severalvariables
a = b = c = 1
print(b)

1

In [62]:
# assign multiple objects to multiplevariables
a, b, c = 1, 2, "Ali"
print(c)

Ali

In [66]:
# Variables are Case-Sensitive
X = 2
x = 5 
print(X)
print(x)

2
5

# Multiple line statements & One-line  statements

**Multiple Line Statements**

In [53]:
# Example 1: Breaking a long line
message = "This is a long message that needs to be " \
          "broken into multiple lines for readability."

# Example 2: Continuing an expression
result = (2 + 3 + 
          4 * 5)

**One-line Statements**

In [57]:
x = 10; y = 20; z = x + y

name = "John"; age = 30; city = "New York"

# Strings

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [3]:
# Single word
'h'

h

'h'

In [2]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [3]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [4]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-4-da9a34b3dc31>, line 2)

In [5]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

## Printing a String

In [6]:
# We can simply declare a string
'Hello World'

'Hello World'

In [1]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'
'ahmed'

'ahmed'

We can use a print statement to print a string.

In [4]:
print('Hello World 1')
print('Hello World 2')
print('Use \t  to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use  	  to print a new line


See what I mean?

## String Basics

We can also use a function called len() to check the length of a string!

In [2]:
len('Hello World ')

12

## String Indexing

In [27]:
# Assign s as a string
s = 'Hello World'

In [7]:
#Check
s
s
s
s
s

'Hello World'

In [8]:
# Print the object
print(s) 
print(s)
print(s)

Hello World
Hello World
Hello World

In [9]:
# Show first element (in this case a letter)
s[0]

'H'

In [9]:
s[5]

' '

In [12]:
s[-1]

'd'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [14]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [13]:
# Note that there is no change to the original s
s

'Hello World'

In [11]:
# Grab everything UP TO the 3rd index
s[:4]

'Hell'

In [16]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [12]:
s

'Hello World'

In [23]:
s=[1,2,3,4,5,6,7,8,9,10]
s
s
s

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
s[::3]

[1, 4, 7, 10]

In [30]:
s

'Hello World'