# Numbers and more in Python!

### Basic Arithmetic
let us start writing simple python code and get familiair with coding

In [5]:
# Addition --> we will start with the simplest code --> addition.    as we can see that the result(the output) of our code
#                                                                    will appear under the cell
 
2+1

3

In [ ]:
1+1

2

In [ ]:
# Subtraction
2-5

-3

In [ ]:
# Multiplication
2*2

4

In [ ]:
# Division
3/2

1.5

In [ ]:
# Floor Division
7/4

1.75

**So what if we just want the remainder after division?**

In [ ]:
7%2

1

### Arithmetic continued

In [ ]:
# Powers
2**3

8

In [ ]:
# Can also do roots this way
4**0.5

2.0

In [ ]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [ ]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

### Data types

#### integers
#### floats
#### list

#### tuple

#### dictionary
#### booleans
#### sets

# Get the type

In [1]:
type(5)

int

In [2]:
type(5.5)

float

# Print Statements

**what if i want to print 5 + 6 and 7 + 9? why in the following cell it only printed 7 + 9**

In [2]:
5 + 6 
7 + 9

16

**to solve the problem above we use print command**

In [3]:
print(5 + 6) 
print(7 + 9)

11
16

**Other print examples**

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Welcome")
print(50)
print(3.4)

Welcome
50
3.4

**How to prevent printing new line**

In [ ]:
print("Hello", end=" ")
print("World", end="")

Hello World

# Comments

**Single Line comment**

In [ ]:
# print("Welcome")

**Multiple Line comment**

In [ ]:
"""I have started machine
learning course at Amit"""


# I have started machine
# Learning Course at Amit

print("Amit")

Amit

# Variabels

In [ ]:
name = "Ahmed"
age = 24

In [ ]:
age += 1
print(age)

26

In [ ]:
type(name)

str

In [ ]:
#  assign a single value to severalvariables
a = b = c = 1
print(b)

1

In [ ]:
# assign multiple objects to multiplevariables
a, b, c = 1, 2, "Ali"
print(c)

Ali

In [ ]:
# Variables are Case-Sensitive
X = 2
x = 5
print(X)
print(x)

2
5

# Multiple line statements & One-line  statements

**Multiple Line Statements**

In [ ]:
# Example 1: Breaking a long line
message = "This is a long message that needs to be " \
          "broken into multiple lines for readability."

# Example 2: Continuing an expression
result = (2 + 3 +
          4 * 5)

**One-line Statements**

In [ ]:
x = 10; y = 20; z = x + y

name = "John"; age = 30; city = "New York"

#### string